<!DOCTYPE html>
<html lang = 'en'>
<head>
    <title>Modify Comment</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
    <style>
        .wrapper{
            display:flex;
            justify-content: center;
        }

        .flex {
            flex:1;
            margin: 10px;
        }
    </style>
</head>
<body>
<div class="container flex">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg style = 'margin-right: 5px;' xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-info-square-fill" viewBox="0 0 16 16">
                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
            </svg>
            <span class="fs-4">Forum Manager</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/comment/new" class="nav-link active" aria-current="page">Add Comment</a></li>
        </ul>
    </header>
</div>
<div class = "wrapper">
    <div class="container flex">
        <h1>Comments</h1>
        <table class="table table-striped" style="border:2px inset black;">
            <tr>
                <th>User</th>
                <th>Comments</th>
            </tr>
            <%
            comments.forEach((comment) => {
            %>
                <tr>
                    <td><%= comment.user %></td>
                    <td><%= comment.comment %></td>
                    <td><a href='/comment/edit/<%= comment.id %>' class="btn btn-success">modify</a></td>
                    <td>
                        <form action="/comment/delete/<%= comment.id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger px-3" style = 'width:100px; border:2px outset black; border-radius: 08px;' type="submit">delete</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </table>
    </div>
    <div class ="container">
    <form action="/comment/update/<%= user.id %>?_method=PATCH" method="POST">
        <h2><b><label for="user">User:</label></b>
        <i><%= user.user %></i></h2>
        <h2><b><label for="id">Comment ID:</label></b>
        <i><%= user.id %></i></h2>
        <label for="comment">Modify Comment:</label><br>
        <textarea id="myTextarea" name="comment" rows="5" cols="30"></textarea><br>
        <button type="submit" class="btn btn-warning">update</button>
    </form>
        <button name="reset" class="btn btn-dark">reset</button>
    <button name = "clear" class="btn btn-dark">clear</button>
    </div>
</div>
    <script>
        document.getElementById('myTextarea').value = '<%= user.comment %>';
        document.getElementsByName('reset')[0].addEventListener('click', () => {
            document.getElementById('myTextarea').value = '<%= user.comment %>';
        })
        document.getElementsByName('clear')[0].addEventListener('click', () => {
            document.getElementById('myTextarea').value = '';
        })
    </script>
    <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>